<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @serasa.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @serasa.arquivo %>
</p>

<%= link_to 'Edit', edit_serasa_path(@serasa) %> |
<%= link_to 'Back', serasas_path %>
