<h1>Listing interessados</h1>

<%= will_paginate @interessados %>

<div class="row">
  <!--Lembretes!-->     
      <div class="panel-body">
        <label>Lembretes</label>
        <div class="row">
          <% @interessados.each do |s| %>
            <%if s.lembrete.present? %>
             
                <div class="alert alert-danger fade in">
                  <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <h4><%= s.nome%></h4>
                    <p><%= s.observacao%></p>
                    <p><%= s.data_max%></p>
                </div>
            <%end%>
          <% end %> 
        </div>           
      </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Data Nascimento</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interessados.each do |interessado| %>
      <tr>
        <td><%= interessado.interessado_nome %></td>
        <td><%= interessado.interessado_cpf %></td>
        <td><%= interessado.interessado_rg %></td>
        <td><%= interessado.interessado_data_nasc %></td>
        <td><%= interessado.interessado_email %></td>
        <td><%= link_to 'Exibir', interessado %></td>
        <td><%= link_to 'Editar', edit_interessado_path(interessado) %></td>
        <td><%= link_to 'Excluir', interessado, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


