<p id="notice"><%= notice %></p>

<p>
  <strong>Aprov estab:</strong>
  <%= @fotos_estab.aprov_estab_id %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @fotos_estab.foto %>
</p>

<%= link_to 'Edit', edit_fotos_estab_path(@fotos_estab) %> |
<%= link_to 'Back', fotos_estabs_path %>
