<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @aprov_proj.interessado_id %>
</p>

<p>
  <strong>Arquivo doc:</strong>
  <%= @aprov_proj.arquivo_doc %>
</p>

<%= link_to 'Edit', edit_aprov_proj_path(@aprov_proj) %> |
<%= link_to 'Back', aprov_projs_path %>
