<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @socio_carteira_prof.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @socio_carteira_prof.arquivo %>
</p>

<%= link_to 'Edit', edit_socio_carteira_prof_path(@socio_carteira_prof) %> |
<%= link_to 'Back', socio_carteira_profs_path %>
