<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @pagto_taxa.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @pagto_taxa.arquivo %>
</p>

<%= link_to 'Edit', edit_pagto_taxa_path(@pagto_taxa) %> |
<%= link_to 'Back', pagto_taxas_path %>
