<h1>Listing socio_doc_fiscais_corings</h1>

<table>
  <thead>
    <tr>
      <th>Interessado</th>
      <th>Arquivo</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @socio_doc_fiscais_corings.each do |socio_doc_fiscais_coring| %>
      <tr>
        <td><%= socio_doc_fiscais_coring.interessado_id %></td>
        <td><%= socio_doc_fiscais_coring.arquivo %></td>
        <td><%= socio_doc_fiscais_coring.nome %></td>
        <td><%= link_to 'Show', socio_doc_fiscais_coring %></td>
        <td><%= link_to 'Edit', edit_socio_doc_fiscais_coring_path(socio_doc_fiscais_coring) %></td>
        <td><%= link_to 'Destroy', socio_doc_fiscais_coring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Socio doc fiscais coring', new_socio_doc_fiscais_coring_path %>
