<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @socio_doc_fiscais_coring.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @socio_doc_fiscais_coring.arquivo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @socio_doc_fiscais_coring.nome %>
</p>

<%= link_to 'Edit', edit_socio_doc_fiscais_coring_path(@socio_doc_fiscais_coring) %> |
<%= link_to 'Back', socio_doc_fiscais_corings_path %>
