<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @cronograma.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @cronograma.arquivo %>
</p>

<%= link_to 'Edit', edit_cronograma_path(@cronograma) %> |
<%= link_to 'Back', cronogramas_path %>
