<h1>Listing socio_serasas</h1>

<table>
  <thead>
    <tr>
      <th>Interessado</th>
      <th>Arquivo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @socio_serasas.each do |socio_serasa| %>
      <tr>
        <td><%= socio_serasa.interessado_id %></td>
        <td><%= socio_serasa.arquivo %></td>
        <td><%= link_to 'Show', socio_serasa %></td>
        <td><%= link_to 'Edit', edit_socio_serasa_path(socio_serasa) %></td>
        <td><%= link_to 'Destroy', socio_serasa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Socio serasa', new_socio_serasa_path %>
