<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @socio_serasa.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @socio_serasa.arquivo %>
</p>

<%= link_to 'Edit', edit_socio_serasa_path(@socio_serasa) %> |
<%= link_to 'Back', socio_serasas_path %>
