<h1>Listing socio_dados_bancos</h1>

<table>
  <thead>
    <tr>
      <th>Interessado</th>
      <th>Arquivo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @socio_dados_bancos.each do |socio_dados_banco| %>
      <tr>
        <td><%= socio_dados_banco.interessado_id %></td>
        <td><%= socio_dados_banco.arquivo %></td>
        <td><%= link_to 'Show', socio_dados_banco %></td>
        <td><%= link_to 'Edit', edit_socio_dados_banco_path(socio_dados_banco) %></td>
        <td><%= link_to 'Destroy', socio_dados_banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Socio dados banco', new_socio_dados_banco_path %>
