<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @cart.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @cart.arquivo %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
