<p id="notice"><%= notice %></p>

<p>
  <strong>Inauguracao:</strong>
  <%= @fotos_in.inauguracao_id %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @fotos_in.foto %>
</p>

<%= link_to 'Edit', edit_fotos_in_path(@fotos_in) %> |
<%= link_to 'Back', fotos_ins_path %>
