<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @proj_arquitetonico.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @proj_arquitetonico.arquivo %>
</p>

<%= link_to 'Edit', edit_proj_arquitetonico_path(@proj_arquitetonico) %> |
<%= link_to 'Back', proj_arquitetonicos_path %>
