<%= form_for(@cnh) do |f| %>
  <% if @cnh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cnh.errors.count, "error") %> prohibited this cnh from being saved:</h2>

      <ul>
      <% @cnh.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interessado_id %><br>
    <%= f.number_field :interessado_id %>
  </div>
  <div class="field">
    <%= f.label :arquivo %><br>
    <%= f.text_field :arquivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
