<p id="notice"><%= notice %></p>

<p>
  <strong>Interessado:</strong>
  <%= @coordenador.interessado_id %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @coordenador.arquivo %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @coordenador.data_fim %>
</p>

<p>
  <strong>Verificador:</strong>
  <%= @coordenador.verificador %>
</p>

<%= link_to 'Edit', edit_coordenador_path(@coordenador) %> |
<%= link_to 'Back', coordenadors_path %>
