<%= form_for(@planilha) do |f| %>
  <% if @planilha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planilha.errors.count, "error") %> prohibited this planilha from being saved:</h2>

      <ul>
      <% @planilha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interessado_id %><br>
    <%= f.number_field :interessado_id %>
  </div>
  <div class="field">
    <%= f.label :arquivo %><br>
    <%= f.text_field :arquivo %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
