<!DOCTYPE html>
<html>
<head>
  <title>Expansao Franquia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
 <div class="navbar-header">
    <a class="navbar-brand" href="#">Augusto Cury Cursos</a>
 </div>

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     
     <li><%= link_to "Interessados", interessados_path %> </li>
     <li><%= link_to "Buscar", user_interessados_path %> </li>
	
	   

  </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li style="color:#999; padding-top:15px;">Logado como <%= current_user.email %> </li>
        <li><%= link_to 'Editar o Cadastro', edit_user_registration_path %> </li>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>

 <div id="conteiner" class="container">
  
<%= yield %>
</div>

</body>
</html>